* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: border-box keeps padding & margin into the total element's size.  */
}

body {
    height: 100vh; 
    /* vh - View height unit 100vh == 100% view height */
    display:flex;
    background: #060ab2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    width: calc(25% - 10px); 
    /* 25% for 4 columns, but remember to take away 10px for margin on both sides ... SET BELOW :) BTW */
    height: calc(33.333% - 10px);
    /* 33% for 3 rows, but again... remember to subtract 10px for margin on both sides SET BELOW :) BTW */
    margin: 5px;
    position: relative;
    /* Using position: relative to position all elements within .memory-card absolutely, relative.  */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  /* The property position: absolute set to both front-face and back-face, will remove the elements from the original position, and stack them on top of each other. */
  border-radius: 5px;
  background: #1C7CCC;
}