#footer-links {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    column-count: 2;
    column-gap: 20px;
    margin: 0 auto;
    column-width: 200px;
}

#footer-links ul {
    margin-left: 50px;
}

div.col-xs-12.col-sm-3.text-center h5 {
    margin: 0;
}
img#ncsu-map {
    margin: auto;
}

ul.list-group.list-group-horizontal.text-center.social-icons {
    font-size: 30px;
}

footer.container div.row {
  margin: 0 auto;
  padding-top: 10px;
}

#footer-links ul {
  margin:auto;
  width:200px;
}

div.stylized-break {
    margin: 25px 0;
    height: 1px;
    background: red;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, red));
}